services:
    _defaults:
        autoconfigure: true

    terminal42_insert_tags.handler:
        class: Terminal42\InsertTagsBundle\InsertTagHandler
        arguments:
            - "@database_connection"
            - "@terminal42_insert_tags.parser"
            - "@request_stack"
            - "@security.authorization_checker"
            - "@security.token_storage"
            - '@Codefog\HasteBundle\Formatter'

    terminal42_insert_tags.parser:
        class: Terminal42\InsertTagsBundle\Parser
        arguments:
            - "@contao.insert_tag.parser"
            - "@contao.string.simple_token_parser"
